/* dung chung */
*{
    font-family: "Times New Roman";
    line-height: 1.2;
}
a {
    text-decoration: none;
}
#background
{
    height: 3921px;
    width: 1600px;
    background: black;
}
/* phan top */
.top
{
    height: 60px;
    width: 1600px;
    background: white;
}
#danh-muc
{
    float: left;
    height: 60px;
    width: 135px;

}
#dm1{
    width: 27px;
    height: 24px;
    float: left;
    margin: 21px 0 0 27px;
}
#dm1:hover{
    -webkit-transform: scale(1.1);
}
#dm2{
    font-size: 15px;
    float: left;
    margin: 25px 0 0 10px;
    color: #666666;
}
#dm2:hover {
    color: #1ca8c3;
}
#box-search
{

    float: left;
    border: 1px solid #cccccc;
    height: 30px;
    width: 240px;
    margin: 14px 0 0 70px;
    border-radius: 12px;

}
#search
{
    border-radius: 12px;
    float: left;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: none;
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
}
#icon-search
{
    border-radius: 12px;
    display: inline-block;
    text-decoration: none;
    border: none;
    float: left;
    width: 40px;
    height: 30px;
    background-image: url(../images/icon-tim-kiem.png);
    background-size: 35px 25px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
#search:focus {
    outline: none;
}
#icon-search:focus {
    outline: none;
}
#icon-search:hover {
    cursor: pointer;
}
#logo-top{
    float: left;
    width: 120px;
    height: 60px;
    margin: 0 0 0 300px;
}
.login
{
    font-size: 12px;
    float: right;
    margin: 26px 35px 0 0;
}
#dang-nhap{
    padding: 9px 10px 5px 9px;
    border-radius: 3px;
    color: #1ca8c3;
    border: 1px solid #fff;
}
#dang-ky
{
    color: #1ca8c3;
    border: 1px solid #fff;
    padding: 9px 10px 5px 9px;
    border-radius: 3px;
}
#dang-nhap:hover{
    color: #666666;
    border-color:#1ca8c3;
}
#dang-ky:hover{
    color: #666666;
    border-color:#1ca8c3;
}
.content{
    height: 3805px;
    width: 1564px;
    background-color: #f2f2f2;
    float: left;
    margin: -5px 0 0 0px;
}
.trai{
    width: 280px;
    height: 668px;
    margin: 30px 0 0 200px;
    border: 1px solid #e0e0e0;
    background-color: white;
    float: left;
}
#anh-dai-dien{
    margin: -100px 0 0 40px;
    float: left;
    text-align: center;
}
#thong-tin{
    height: 283px;width: inherit;
    float: left;
    text-align: center;
}
#thong-tin p {
    color: #b4b4b4;
    margin-top: -15px;
}

#icon{
    float: left;
    margin-left: 75px;
    margin-right: 55px;
}
#icon a {
margin-left: 10px;
}
#thong-tin a input{
    float: left;
    margin: 30px 0 0 75px;
    width: 142px;
    height: 38px;
    background-color: #1ca8c3;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
#tin-con {
    height: 78px;
    width: inherit;
    float: left;
}
#tin-con li{
    font-size: 12px;
    width: 90px;
    margin: 10px 40px 0 -40px;
    float: left;
    list-style-type: none;
    height:50px;
    padding-top: 15px;
    border-right: 1px solid #e0e0e0;
}
#tin-con li p{
    font-size: 12px;
    color: #1ca8c3;
}
#thong-tin a input:focus{
    outline: none;
}
.lien-ket{
    float: left;
    border-top: 1px solid #e0e0e0;
    width: inherit;
    height: 44px;
}
.lien-ket p {
    margin-left: 30px;
    float: left;
    color: #666666;
}
.lien-ket img{
    margin: 20px 20px 0 0;
    float: right;
}
#lien-ket1{
    background-color: #1ca8c3;
}
#lien-ket1 p{
    color: white;
}
.phai{
    width: 900px;
    height: 3182px;
    margin: 30px 0 0 20px;
    float: left;
}
#khoa-hoc-gan-day{
    width: inherit;
    height: 758px;
    float: left;
    border: 1px solid #e0e0e0;
    background-color: white;
}
#khoa-hoc1{
    width: 260px;
    height: 283px;
    border: 1px solid #e0e0e0;
    margin: 20px 0 0 40px;
    float: left;
    background-color: white;
}
#khoa-hoc1 img{
    margin-top: 0px;
}
#khoa-hoc1 div{
    margin:-10px 20px 0 20px;
    font-size: 14px;
}
#khoa-hoc1 div h2{
    margin-left: 0px;
}
#khoa-hoc-gan-day h2{
    margin-left: 40px;
}
#khoa-hoc1 div p{
    color: #666666;
}
#khoa-hoc2{
    width: 260px;
    height: 283px;
    border: 1px solid #e0e0e0;
    margin:20px 0 0 20px;
    float: left;
    background-color: white;
}
#khoa-hoc2 div h2{
    margin-left: 0px;
}
#khoa-hoc2 img{
    margin-top: 0px;
}
#khoa-hoc2 div{
    margin:-10px 20px 0 20px;
    font-size: 14px;
}
#khoa-hoc-gan-day h2{
    margin-left: 40px;
}
#khoa-hoc2 div p{
    color: #666666;
}
#quan-ly{
    margin-top: 44px;
    width: inherit;
    height: 750px;
    float: left;
    border: 1px solid #e0e0e0;
    background-color: white;
}
#quan-ly h2{
    margin-left: 40px;
}
#quan-ly ul {
    float: right;
    margin-top: -50px;
}
#quan-ly ul li{
    list-style-type: none;
    margin: 10px 40px 0 0;
    font-size: 18px;
    display: inline-block;
    float: left;
    border-bottom: 1px solid white;
}
#quan-ly ul li a{
    color: black;
    border-bottom: 1px solid white;
}
#quan-ly ul li a:hover {
    color: #1ca8c3;
    border-bottom: 2px solid #1ca8c3;
}
#tai-khoan1{
    margin-top: 81px;
    width: inherit;
    height: 1545px;
    float: left;
    border: 1px solid #e0e0e0;
    background-color: white;
}
#tai-khoan1 h2{
    margin-left: 40px;
}
#ten{
    height: 70px;
    width: 820px;
    border-bottom: 1px solid #e0e0e0;
}
#ten{
    float: left;
    margin: 10px 0 0 40px;
}
#ten a{
    float: right;
}
#ten a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#ten a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#ten a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#ten a p:hover{
    color: #1ca8c3;
}
#thong-tin-tk{
    width: 820px;
    height: 183px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#ul li{
    list-style-type: none;
}
#ul{
    float: left;
}
#thong-tin-tk a{
    float: right;
}
#thong-tin-tk a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#thong-tin-tk a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#thong-tin-tk a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#thong-tin-tk a p:hover{
    color: #1ca8c3;
}
#vi-tri{
    width: 820px;
    height: 120px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#vi-tri a{
    float: right;
}
#vi-tri a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#vi-tri a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#vi-tri a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#vi-tri a p:hover{
    color: #1ca8c3;
}
#ly-lich{
    width: 820px;
    height: 224px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#ly-lich a{
    float: right;
}
#ly-lich a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#ly-lich a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#ly-lich a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#ly-lich a p:hover{
    color: #1ca8c3;
}
#p1{
    line-height: 1.5;
    margin: 0 120px 0 175px;
    color: #666666;
}
#thanh-tich{
    width: 820px;
    height: 120px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#thanh-tich a{
    float: right;
}
#thanh-tich a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#thanh-tich a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#thanh-tich a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#thanh-tich a p:hover{
    color: #1ca8c3;
}
#qua-trinh{
    width: 820px;
    height: 115px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#qua-trinh a{
    float: right;
}
#qua-trinh a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#qua-trinh a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#qua-trinh a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#qua-trinh a p:hover{
    color: #1ca8c3;
}
#tai-khoan-lien-ket{
    width: 820px;
    height: 153px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0 0 40px;
    float: left;
}
#tai-khoan-lien-ket a{
    float: right;
}
#tai-khoan-lien-ket a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#tai-khoan-lien-ket a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#tai-khoan-lien-ket a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#tai-khoan-lien-ket a p:hover{
    color: #1ca8c3;
}
#ul li a p img:hover{
    -webkit-transform: scale(1.05);
}
#mat-khau{
    width: 820px;
    height: 153px;
    margin: 10px 0 0 40px;
    float: left;
}
#mat-khau a{
    float: right;
}
#mat-khau a div{
    background-image: url(../images/icon-sua.png);
    width: 11px;
    height: 11px;
    float: left;
    margin:-30px 0 0 0;
}
#mat-khau a div:hover{
    background-image: url(../images/icon-sua2.png);
}
#mat-khau a p{
    float: left;
    margin:-35px 0 0 20px;
    color: #b4b4b4;
}
#mat-khau a p:hover{
    color: #1ca8c3;
}
#tai-khoan1 a input{
    width: 500px;
    height: 40px;
    margin-left: 200px;
    background-color: #1ca8c3;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#tai-khoan1 a input:focus{
    outline: none;
}
#tai-khoan1 a input:hover{
    background-color: #666666;
}
/* menu dọc */
#menu-doc{
    width: 36px;
    height: 3805px;
    background-color: white;
    float: left;
    margin-top: -5px;
}
/* tài khoản */
#img-tk{
    margin: 280px 0 0 5px;
}
#img-tk:hover{
    -webkit-transform: scale(1.05);
}
#tk {
    margin-top: -5px;
    color: #6d94a3;
    text-align: center;
    font-size: 12px;
}
#tk:hover{
    color: #1ca8c3;
}
/* ngày học */
#img-ngay{
    margin: 40px 0 0 5px;
}
#img-ngay:hover{
    -webkit-transform: scale(1.05);
}
#ngay {
    margin-top: -5px;
    color: #6d94a3;
    text-align: center;
    font-size: 12px;
}
#ngay:hover{
    color: #1ca8c3;
}
/* thêm ngày */
#img-them{
    margin: 40px 0 0 5px;
}
#img-them:hover{
    -webkit-transform: scale(1.05);
}
#them {
    margin-top: -5px;
    color: #6d94a3;
    text-align: center;
    font-size: 12px;
}
#them:hover{
    color: #1ca8c3;
}
#fb {
    margin: 55px 0 0 5px;
}
#gg {
    margin: 30px 0 0 5px;
}
#tw {
    margin: 30px 0 0 5px;
}
#back-to-top {
    height: 55px;
    margin-top: 100px;
    background-color: #1ca8c3;

}
#bt{
    height: 55px;
    width: 36px;
    background-color: #1ca8c3;
    border: none;
    cursor: pointer;
}
#bt:focus{
    outline: none;
}
#bt:hover{
    -webkit-transform: scale(0.9);
}
#img-back-to-top:hover{
    -webkit-transform: scale(0.9);
}
#img-back-to-top{
    margin: 5px 0 -8px -3px;
}